.section5 {
    width: 100%;
    margin-top: 6rem;
    font-family: font2;
    overflow-x: auto;
    font-size: 2rem;
    transform: rotate(180deg);

    &-listpicture {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 3rem;

        li {
            text-align: center;
            position: relative;
            transform: rotate(180deg);
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            height: 20rem;
            justify-content: end;

            p {
                margin-top: 0.5rem;
                color: #808080;
            }

            img {
                cursor: pointer;
                width: 8rem;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .section5 {
        &-listpicture {
            justify-content: flex-start;

            li {
                img {
                    width: 15vw;
                }
            }
        }
    }
}