.section8 {
    display: flex;
    flex-direction: column;
    direction: rtl;
    gap: 0.5rem;
    font-size: 1.2rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    font-family: font2;
    position: relative;

    img {
        width: 3rem;
    }

    div {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 60%;

        p {
            width: 60%;
        }
    }

    .section8--call {

        a:link,
        a:visited {
            direction: ltr;
            text-decoration: none;
            color: goldenrod;
            font-size: 2rem;
        }

        a:hover {
            color: #000;
            transition: 0.3s;
        }
    }

    .section8--getEmail {
        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        gap: 1.5rem;
        position: absolute;
        top: 0;
        left: 0;

        &--chekcout {
            font-size: 1rem;
            margin-top: -1rem;
            color: gray;

        }

        &--boxEmail {
            gap: 0;
            position: relative;
            // justify-content: center;

            input {
                padding: 1rem 5rem 1rem 1rem;
                width: 30rem;
                font-size: 1.5rem;
                border-radius: 5rem;
                border: .2rem solid gray;
                direction: ltr;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
            }

            img {
                position: absolute;
                right: .5rem;
                width: 5rem;
                filter: invert(74%) sepia(79%) saturate(764%) hue-rotate(338deg) brightness(104%) contrast(101%);
                cursor: pointer;

                &:hover {
                    transition: 0.1s;
                    filter: invert(0%) sepia(6%) saturate(7464%) hue-rotate(343deg) brightness(92%) contrast(98%);
                }
            }
        }
    }
}

// footer
footer {
    margin-top: 5rem;

    p {
        padding: 1rem;
        background-color: rgb(197, 197, 197);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        a:link,
        a:visited {
            text-decoration: none;
            color: goldenrod;
        }
    }
}


@media screen and(max-width:850px) {
    .section8 {
        display: grid;
        grid: 50% 50%/50% 50%;

        .section8--getEmail {
            position: relative;

            // &--boxEmail {
            //     margin-left: 10rem;
            // }
        }

        div {
            width: 95%;

            p {
                width: 100%;
            }
        }
    }
}

@media screen and(max-width:530px) {
    .section8 {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}