// set default
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

// colors page
$main-color: rgb(0, 0, 0);
$second-color: rgb(247, 181, 14);
$back-color: rgba(245, 245, 245, 0.296);
$test-color: rgb(23, 128, 117);

body {
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    color: $main-color;
    font-size: 1.6rem;
    font-feature-settings: "ss01", "tnum";
    font-family: font1, Arial, sans-serif;
}


// fonts

@font-face {
    font-family: 'font1';
    src: url('/fonts/Vazirmatn-Bold.ttf') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'font2';
    src: url('/fonts/IRANSansDN-Bold.ttf') format('woff');
}

@font-face {
    font-family: fonttext;
    src: url('/fonts/IRANSansDN.ttf') format('woff');
}

@font-face {
    font-family: fontE;
    src: url('/fonts/FontPotra.ttf') format('woff');
}

// header top box
.header-top-box {
    display: flex;
    flex-direction: column;
    background-color: $back-color;
    height: fit-content;
}

// header top
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    position: relative;
    // phone number
    .header-top-left {
        // flex-basis: 25%;
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
        // font-family: font1;

        &:hover {
            cursor: pointer;
            color: $second-color;
            transition: 0.5s;
        }


        img {
            width: 4rem;
        }
    }

    // logo top
    .header-top-center {
        padding-bottom: 1rem;
    }

    // address
    .header-top-right {
        flex-basis: 25%;
        display: flex;
        padding-right: 1rem;
        align-items: center;
        cursor: default;
        height: 100%;
        font-family: font2;

        p {
            direction: rtl;
        }

        img {
            width: 4rem;
            padding: 1rem 0.5rem;
        }
    }

}


// header-bottom

.header-bottom {
    z-index: 1;
    display: flex;
    direction: rtl;
    align-items: center;
    font-family: font2;
    padding-top: 1rem;
    width: 100%;
    height: fit-content;
    position: relative;
    // nav list header
    .header-bottom-nav {
        order: 1;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        padding-right: 10vw;
        font-size: 1.4vw;

        .nav-list {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 5vw;

            a:link,
            a:visited {
                color: rgb(0, 0, 0);
                text-decoration: none;
                // position: relative;

                &:hover {
                    color: $second-color;
                    transition: 0.2s;
                }
            }
            // set hover menu 
            a:first-child{
                padding-bottom: 15px;
            }
            .container-hover-img-top{

                img{
                    display:none;
                }
            }
            a:first-child:hover .container-hover-img-top{
                width: 100%;
                height: max-content;
                position: absolute;
                top: 5.5rem;
                right: 0;
                background-color: rgb(251, 251, 251);
                padding: 2rem 0;
                display: inline-block;
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(2,1fr) ;
                grid-gap: 3rem;
                img{
                    width: 27vw;
                    display: inline-block;
                    &:hover{
                        box-shadow: 1px 1px 10px rgb(175, 175, 175);
                        transition: 0.3s;
                    }
                }
            }

        }
    }

    // social media icons
    .header-bottom-socialmedia {
        order: 2;
        flex-grow: 1rem;
        direction: ltr;
        display: flex;
        gap: 1rem;
        padding-left: 1.5rem;

        img {
            transition: all 2s;
            width: 4rem;
        }

        a:first-child:hover {
            filter: invert(11%) sepia(81%) saturate(5453%) hue-rotate(323deg) brightness(100%) contrast(106%);
        }

        a:nth-child(2):hover {
            filter: invert(46%) sepia(100%) saturate(345%) hue-rotate(143deg) brightness(94%) contrast(97%);
        }

        a:last-child:hover {
            filter: invert(73%) sepia(83%) saturate(4326%) hue-rotate(78deg) brightness(104%) contrast(101%);
        }
    }

    // box order
    .header-bottom-orderbox {
        order: 0;
        // flex-grow: 0.4;
        position: relative;
        z-index: -4;

        .number-order {
            color: $second-color;
            position: absolute;
            top: -0.5rem;
            left: 55%;
            background-color: black;
            padding: 0.3rem 1rem;
            border-radius: 50%;
        }

        a:link,
        a:visited {
            color: black;
            text-decoration: none;
            display: inline-block;

            img {
                width: 5rem;
            }

            &:hover {
                p {
                    color: black;
                    background-color: gold;
                    transition: 0.5s;
                }

                img {
                    filter: invert(63%) sepia(98%) saturate(591%) hue-rotate(10deg) brightness(113%) contrast(94%);
                    transition: 0.5s;
                }
            }
        }
    }

    .header-bottom-search {
        z-index: -5;

        .search-box {
            width: 3rem;

            &:hover {
                filter: invert(60%) sepia(82%) saturate(441%) hue-rotate(13deg) brightness(106%) contrast(99%);
            }
        }

        .search-popup,
        .input-popup,
        .out-popup {
            display: none;
        }
    }
}


// event listener click search


.set-popup-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;

    .center-pop {
        .search-box {
            display: none;
        }

        .out-anywhere {
            background-color: rgb(0, 0, 0, );
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            cursor: default;
            opacity: 0.7;
            transition: 1s;
        }

        .out-popup {
            position: fixed;
            top: 3rem;
            right: 3rem;
            width: 40px;
            filter: invert(0%) sepia(89%) saturate(7456%) hue-rotate(200deg) brightness(110%) contrast(110%) drop-shadow(1px 0 0 gold) drop-shadow(-1px 0 0 gold) drop-shadow(0 1px 0 gold) drop-shadow(0 -1px 0 gold);

            &:hover {
                filter: invert(60%) sepia(82%) saturate(441%) hue-rotate(13deg) brightness(106%) contrast(99%) drop-shadow(1px 0 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(0 -1px 0 black);
            }
        }

        .container-anime {
            display: flex;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: anime1 0.5s;

            .input-popup {
                color: white;
                font-size: 2.5rem;
                direction: rtl;
                background-color: transparent;
                border: none;
                border-bottom: 2px white solid;
                padding: 1rem;
                width: 50vw;
                font-family: font2;

                &::placeholder {
                    color: white;
                }

                &:focus {
                    outline: none;
                    border-bottom: 2px black solid;
                    caret-color: white;
                }
            }

            .search-popup {
                width: 4rem;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

                &:hover {
                    filter: invert(60%) sepia(82%) saturate(441%) hue-rotate(13deg) brightness(106%) contrast(99%);
                }
            }

        }
    }
}

@keyframes anime1 {
    0% {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    70% {
        position: fixed;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

// end headar top 

// start section 1

.section1 {
    width: 100%;
    // height: 93%;
    background: linear-gradient(to bottom right, rgba(255, 60, 0, 0.2), rgba(8, 37, 255, 0.2)), url('/image/img/pexels-valeria-boltneva-1639562.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10vw;

    .section1-box {
        display: flex;
        flex-direction: column;
        color: white;
        width: 50%;
        height: auto;
        // align-items: center;
        font-size: 1.6vw;

        &-logo {
            width: 50%;
            transform: translateX(20%);

            img {
                width: 100%;
            }
        }

        ;

        &-head {
            font-family: fontE;
            align-self: center;
            transform: translate(-25%, -60%);
        }

        ;

        &-detail {
            width: 60%;
            padding-top: 20px;
            align-self: flex-end;
            transform: translate(-20%, -20%);
        }

        ;

        &-order {
            // padding-top: 30px;
            transform: translate(30%, -70%);
            width: fit-content;

            a {
                padding: 1rem 2rem;
                background-color: rgba(0, 0, 0, 0.689);
                border-radius: 5rem;
                font-size: 1.4vw;
                // width: 100%;
                // height: 100%;

                &:link,
                &:visited {
                    color: $second-color;
                    text-decoration: none;
                }

                &:hover {
                    color: white;
                    transition: 0.3s;
                }

                &:hover::after {
                    content: '';
                    position: absolute;
                    top: -20%;
                    left: 0;
                    width: 100%;
                    height: 150%;
                    border-radius: 35px;
                    background-color: rgb(0, 0, 0);
                    z-index: -1;
                    animation: box-anime .5s forwards;
                }
            }


        }

        ;
    }
}

@keyframes box-anime {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }

    100% {
        transform: scale(1.5, 2);
        opacity: 0;
    }
}


// section 2 start

.section2 {
    display: flex;
    margin-top: 5rem;

    &-img {
        flex-grow: 1;
        width: 50%;
        height: fit-content;
        z-index: -5;
        position: relative;
        visibility: hidden;
    }

    &-text {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        // flex-grow: 1;
        width: 50%;
        direction: rtl;
        font-family: fonttext;
        align-items: center;
    
        & *{
            font-size: 2.1rem;
        }

        &-header{
            font-size: 4rem;
        }
        &-stars {
            display: flex;
            gap: 2rem;
            color: rgb(210, 179, 0);
        }

        &-p {
            margin-top: 5rem;
            text-align: center;
            width: 30vw;
        }

        &-logo {
            margin-top: 5rem;
            display: flex;
            gap: 10rem;
            align-items: center;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                font-family: font2;
            }

            img {
                width: 5rem;
            }
        }

    }
}

@keyframes animeRotPizza {
    from{
        transform: rotate(90deg) translateY(500px);
    }
    to{
        transform: rotate(0deg) translateY(0px);
    }
}

// section 2 end 


// section 3 start



// media screen tablet 
@media screen and(max-width:1180px) {
    //    header main

    .header-top {
        font-size: 1.1rem;
    }

    // change size icon social media
    .header-bottom-socialmedia {
        img:first-child {
            width: 3rem;
            transition: all 2s;
        }
    }

    .header-bottom-nav {
        padding-right: 0;
    }

    //   section 1



    // section 2
    .section2{
        & *{
            font-size: 2vw;
        }
        &-text{
            margin :0;
            & *{
                margin: 0;
                gap: 2rem;
            }
        &-header{
            font-size: 3vw;
        }
        }
    }

    // empty

    // section2
}






























// media screen phone
@media screen and(max-width:650px) {

    //    header main
    body {
        width: 100%;
    }

    .header-top-box {

        font-size: 1.1rem;

        .header-top {
            display: flex;
            flex-direction: column;

            .header-top-left {
                order: 1;
                font-size: 1.5rem;
            }

            .header-top-right {
                order: 2;
                text-align: left;
                font-size: 1.2rem;
            }
        }

        .header-bottom {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem 0;
            width: 100% !important;

            .header-bottom-orderbox {
                position: absolute;
                left: 2%;
                top: 6%;

                a img {
                    width: 5rem;
                }
            }

            .header-bottom-socialmedia {
                display: none;
            }

            .header-bottom-nav {
                width: 100%;
                justify-content: space-around;
                font-size: 3vw;
                padding-right: 0;

                .nav-list {
                    gap: 10vw;

                }
            }

            .header-bottom-search {
                width: 100%;
                display: flex;
                align-items: flex-end;
                padding-right: 3%;
                position: relative;
                top: -1rem;
            }
        }
    }

    //   section 1
    .section1 {
        // height: 80%;

        .section1-box {
            display: flex;
            gap: 2rem;
            padding-top: 100px;
            width: 100%;

            div {
                font-size: 1.6rem;
            }

            .section1-box-logo {
                transform: translate(-20%, 0);
            }

            ;

            .section1-box-head {
                transform: translate(-40%, -60%);
            }

            .section1-box-detail {
                width: 80%;
                transform: translate(-40%, 0%);

            }

            ;

            .section1-box-order {
                transform: translate(-15%, 10%);

                a {
                    font-size: 1.5rem;
                }
            }
        }
    }

    // section header and set hover menu منو
    .nav-list a:first-child:hover 
    .container-hover-img-top{
        display: flex !important;
        align-items: center;
        flex-direction: column;
        overflow: auto;
        height: 500px !important;
        margin-top: 3rem;
        img{
            width: 80vw !important;
        }
    }
}